
body {
  margin: 0;
  background-color: #fff;
  font-family: 'Rubik', sans-serif;

}

.contenedorprincipal {
  display: flex;
  
}

.columna {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 20%;
  border: 2px solid rgb(126, 126, 126);
  background-color: #dad1f0;
}

.seccionprincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imagenprincipal {
  text-align: center;
}

.p {
  width: 500%;
}

.geto {
  display: flex;
  border: 2px solid rgb(126, 126, 126);
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 10px;


  }

.boton{
  border: 1px solid rgb(126, 126, 126);
  display: flex;
  justify-content: center;
  padding: 20%;

      }
      
.nuevochat{
  width: 100%;
  background-color: #A491D2;
padding: 10;
border: 50%;
color: white;

}
.nuevochat:hover {background-color: #BEC1BB;}
.contactcontaneir{
  display: flex;
  border: 1px solid rgb(126, 126, 126);
  justify-content: flex-start; 
  gap: 10px;
  margin: 0;
  padding: 10px;
}
.contactext{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  
}

.contactext h4{
  margin: 0;
     text-align: left;
  width: 100%;
  }
.contactext p{
  margin: 0;
  line-height: 0.8em;
}

.avatar{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.gojoimg { 
  background: url("../img/Satoru.jpg") center no-repeat;
  background-size: 100%;
  
 
}

.textgojo {
  width: 150px;
}

.megimg{ 
  background: url("../img/Megumi.jpg") center no-repeat;
  background-size: 100%;
}

.tojiimg{
  background: url("../img/Toji.jpg") center no-repeat;
  background-size: 100%;
}

.sukunaimg{
  background: url("../img/Sukuna.jpg") center no-repeat;
  background-size: 100%;
}

.jungkookimg{
  background: url("../img/JK.jpg") center no-repeat;
  background-size: 100%;
}
.yoongiimg{
  background: url("../img/yoongi.jpeg") center no-repeat;
  background-size: 100%;
}

.getoimg{
  background: url("../img/Suguru.jpg") center no-repeat;
  background-size: 100%;
}

.toji:hover{background-color: #BEC1BB;}

.contactcontaneir:hover {background-color: #f2f5f0;}